@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Big+Shoulders:opsz,wght@10..72,100..900&family=DM+Serif+Display:ital@0;1&family=Nabla&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.main_box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 80px;
}

.first_line {
  max-width: 1275px;
  width: 100%;
  display: flex;
  justify-content: start;
}

.black_div {
  background-color: black;
  width: 100%;
  max-width: 450px;
  height: 799px;
}

.first_img {
  width: 63%;
  max-width: 900px;
  height: 800px;
}

.first_img_div {
  width: 100%;
  max-width: 900px;
  height: 800px;
  position: relative;
}

.modern_txt {
  font-family: "Big Shoulders", sans-serif;
  font-weight: 900;
  font-size: 96px;
  color: white;
  line-height: 88px;
  letter-spacing: 0px;
  text-transform: uppercase;
  position: absolute;
  top: 30%;
  left: -34.5%;
}

.first_span {
  font-family: "Big Shoulders", sans-serif;
  color: #151515;
  line-height: 88px;
  letter-spacing: 0px;
  text-transform: uppercase;
  font-size: 96px;
  font-weight: 900;
}

.first_txt_div {
  width: 100%;
  max-width: 350px;
  height: 160px;
}

.first_txt {
  font-family: "Outfit", sans-serif;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0px;
  font-weight: 400;
  color: #444444;
  position: absolute;
  top: 30%;
  left: 50%;
  width: 350px;
}

.btn {
  width: 204px;
  height: 72px;
  background-color: #151515;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Big Shoulders", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 3.64px;
  text-decoration: none;
  position: absolute;
  top: 60%;
  left: 50%;
  border-right: 50px solid rgba(213, 150, 108, 1);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery_img {
  max-width: 635px;
  width: 50%;
  height: 400px;
}

.art_img {
  max-width: 635px;
  width: 80%;
  height: 720px;
}

.exhibit_img {
  width: 80%;
  max-width: 445px;
  height: 313px;
}

.second_div {
  max-width: 1110px;
  height: 1150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  gap: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.second_line {
  max-width: 1110px;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.second_txt_div {
  width: 350px;
  width: 100%;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 40px;
}

.second_heading {
  font-size: 60px;
  line-height: 60px;
  max-width: 350px;
  font-family: "Big Shoulders", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0px;
  color: black;
}

.second_txt {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0px;
  max-width: 350px;
  color: rgba(68, 68, 68, 1);
}

.column {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.black_box {
  width: 80%;
  max-width: 445px;
  height: 377px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  background-color: #151515;
}

.last_heading {
  font-size: 60px;
  color: white;
  font-family: "Big Shoulders", sans-serif;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0px;
  text-transform: uppercase;
}

.last_txt {
  font-size: 22px;
  line-height: 32px;
  color: white;
  letter-spacing: 0px;
  font-weight: 400;
  font-family: "Outfit", sans-serif;
}

footer {
  background-color: #151515;
  width: 100%;
  height: 244px;
  align-self: center;
  align-content: end;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_div {
  width: 1110px;
  height: 84px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer_txt {
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  color: white;
}

.social {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

@media (max-width: 1200px) {
  .black_div {
    display: none;
  }

  .first_line {
    flex-direction: column;
    height: auto;
  }

  .first_img_div {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
  }

  .first_img {
    width: 50%;
    max-width: 100%;
    height: auto;
    align-self: self-start;
  }

  .modern_txt {
    width: 100%;
    color: #151515;
    margin-top: 40px;
    font-size: 80px;
    line-height: 75px;
    top: 10%;
    left: 45%;
  }

  .first_span {
    position: static;
    width: 100%;
    text-align: center;
    color: #151515;
    margin-top: 40px;
    font-size: 80px;
    line-height: 75px;
  }

  .first_txt {
    width: 47%;
    max-width: 500px;
    top: 35%;
    left: 45%;
  }

  .flex {
    flex-wrap: wrap;
    gap: 20px;
  }

  .btn {
    top: 56%;
    left: 45%;
  }

  .second_line {
    height: auto;
    gap: 40px;
  }

  .second_div {
    height: auto;
    gap: 60px;
    flex-wrap: wrap;
  }

  .second_txt_div {
    width: 100%;
    height: auto;
    align-items: center;
    text-align: center;
  }

  .gallery_img {
    width: 100%;
    max-width: 100%;
    height: 300px;
  }
  .art_img {
    width: 80%;
    max-width: 100%;
    height: 313px;
  }
  .exhibit_img {
    width: 80%;
    max-width: 100%;
    height: 313px;
  }

  .black_box {
    width: 80%;
    max-width: 100%;
    height: auto;
  }

  .footer_div {
    width: 100%;
  }
}

@media (max-width: 870px) {
  .main_box {
    width: 100%;
    max-width: 100%;
  }

  .first_img {
    width: 100%;
    max-width: 100%;
  }

  .first_txt_div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    gap: 20px;
    padding: 10px;
  }
  .first_span {
    font-size: 50px;
    line-height: 45px;
  }

  .modern_txt {
    position: static;
    font-size: 50px;
    line-height: 45px;
    text-align: center;
  }

  .first_txt {
    position: static;
    width: 100%;
    text-align: center;
  }

  .column {
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
  }

  .second_heading {
    font-size: 50px;
    line-height: 45px;
  }

  .second_line {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
  }

  .btn {
    position: static;
    height: 60px;
    font-size: 18px;
  }

  .orange_div {
    position: static;
    width: 50px;
    height: 60px;
  }

  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    gap: 15px;
  }

  .footer_div {
    flex-direction: column;
    height: auto;
    gap: 30px;
    padding-top: 20px;
  }

  .footer_txt {
    font-size: 16px;
    text-align: center;
  }

  footer {
    height: auto;
  }
}
